################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backups
/docs
/Logs
/Packets.log
/Saves
/Scripts/bin/Debug
/Scripts/obj/Debug
/Scripts/Output
/Server/obj/Debug
/RunUO.pdb
/RunUO.exe.config
/RunUO.exe
/network-errors.log
/badspawn.log
