################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

################################################################################
# Directorys
################################################################################
/.vs
/Backups
/Docs
/Logs
/Saves
/Scripts/Bin
/Scripts/Obj
/Scripts/Output

################################################################################
# Files
################################################################################
/badspawn.log
/network-errors.log
/packets.log
/runuo.pdb
/runuo.exe.config
/runuo.exe
/throttle.log
/Data/objects.xml
